.footer {
  background-image: url("../assets/footerGallery/Bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.column {
  flex-basis: 20%;
  text-align: center;
  color: #fafafa;
}

.socialIcons {
  margin-top: 10px;
}

.icon {
  font-size: 20px;
  margin-right: 10px;
}
.footer {
  background-image: url("../assets/footerGallery/Bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.column {
  flex-basis: 20%;
  text-align: center;
}

.logo {
  max-width: 250px;
  height: auto;
}
